<div class="panel panel-default" style="background-color: #EABE7C;">
    <div class="panel-body">
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="subject">Subject</label>
                    <input
                        type="text"
                        id="subject"
                        class="form-control"
                        [(ngModel)]="subject"
                        name="subject"
                        #subjectInput
                        required>
                </div>
                <div class="col-sm-12 form-group">
                    <label for="text">Research Notes</label>
                    <textarea
                        id="text"
                        class="form-control"
                        [(ngModel)]="text"
                        name="text"
                        #noteText
                        rows="10"
                        required></textarea>
                </div>
                <div class="col-sm-12 form-group">
                    <label for="text">Note Author</label>
                    <input
                        type="text"
                        id="author"
                        class="form-control"
                        
                        name="author"
                        #noteAuthor
                        required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
