<!--Refactored 7/23/2:14pm-->
<div class="panel panel-default">
    <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="research-notes-edit">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="subject">Subject:</label>
                    <input  
                        type="text"
                        name="subject"
                        id="subject"
                        class="form-control"
                        [(ngModel)]="note.subject"
                        required
                        #subject="ngModel">
                        <div *ngIf="subject.invalid && subject.touched" class="alert alert-danger">Subject is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="personName">Note Regarding:</label>
                        <input
                            type="text"
                            name="personName"
                            id="personName"
                            class="form-control"
                            [(ngModel)]="note.personName"
                            required
                            #personName="ngModel">
                        <div *ngIf="personName.invalid && personName.touched" class="alert alert-danger">The name of the person the note is regarding is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="text">Note Text:</label>
                        <textarea 
                            type="text"
                            name="text"
                            id="text"
                            class="form-control"
                            [(ngModel)]="note.text"
                            #text="ngModel"
                            required
                            rows="7"
                            cols="45"></textarea>   
                        <div *ngIf="text.invalid && text.touched" class="alert alert-danger">Note text is required</div>                         
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="author">Note Author Name:</label>
                        <input
                            type="text"
                            name="author"
                            id="author"
                            class="form-control"
                            [(ngModel)]="note.author"
                            #author="ngModel"
                            required>
                        <div *ngIf="author.invalid && author.touched" class="alert alert-danger">The name of the person that authored the note is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 btn-toolbar">
                        <button class="btn btn-success"
                                type="submit"
                                [disabled]="!f.valid">Save</button>
                        <button class="btn btn-primary" 
                                type="button"
                                (click)="onCancel()">Cancel</button>
                    </div>
                </div>
        </form>
    </div>
</div>


<!--<div class="panel panel-default" style="background-color: #EABE7C;">
    <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="research-notes-edit">
                <
                <div class="col-sm-12 form-group">
                    <label for="subject">Subject</label>
                    <input
                        type="text"
                        id="subject"
                        class="form-control"
                        formControlName="subject"
                        name="subject"
                        required>
                </div>
                <div
                    *ngIf="form.get('subject')?.invalid && form.get('subject')?.touched"
                    class="alert alert-danger mt-2">
                    The Subject is a required field.
                </div>

                <div class="col-sm-12 form-group">
                    <label for="text">Research Notes</label>
                    <textarea
                        id="text"
                        class="form-control"
                        formControlName="text"
                        rows="10"></textarea>
                </div>

                <div class="col-sm-12 form-group">
                    <label for="text">Note Author</label>
                    <input
                        type="text"
                        id="author"
                        class="form-control"                        
                        formControlName="author"                       
                        required>
                </div>
                <div
                    *ngIf="form.get('author')?.invalid && form.get('author')?.touched"
                    class="alert alert-danger mt-2">
                    Author is a required field.
                </div>
           
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success"
                            type="submit"                             
                            [disabled]="!form.valid">Save</button>
                            
                   
                    <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>-->
