<div class="panel panel-default">
    <div class="panel-body">
        <form id="document-edit">
            <div class="row">
                <div class="col-sm-12 form-goup">
                    <label for="type">Document Type</label>
                    <input type="text"
                           id="doc-type"
                           class="form-control"
                           size="120"
                           max="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="description">Description</label>
                    <input
                        type="text"
                        class="form-control"
                        id="description"
                        max="255"
                        size="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="docFile">Document File Url</label>
                    <input
                        type="text"
                        class="form-control"
                        id="docFile"
                        max="120"
                        size="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="date-added">Date Added</label>
                    <input
                        type="text"
                        class="form-control"
                        id="date-added"
                        max="255"
                        size="120">
                </div>

            </div>
        </form>
    </div>
</div>
