<div class="panel panel-default">
    <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="person-edit">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="firstName">First Name:</label>
                    <input
                        type="text"
                        id="firstName"
                        name="firstName"
                        [(ngModel)]="person.firstName"
                        #firstName="ngModel"
                        class="form-control"
                        size="120"
                        max="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="middleName">Middle Name:</label>
                    <input
                        type="text"
                        id="middleName"
                        name="middleName"
                        [(ngModel)]="person.middleName"
                        #middleName="ngModel"
                        class="form-control"
                        size="120"
                        max="120">
                </div>
                <div class="col-sm-12 form-gorup">
                    <label for="lastName">Last Name:</label>
                    <input
                        type="text"
                        id="lastName"
                        name="lastName"
                        [(ngModel)]="person.lastName"
                        #lastName="ngModel"
                        required
                        class="form-control required"
                        size="120"
                        max="120"
                        >
                </div>
                 <div
                    *ngIf="!lastName.valid && lastName.touched"
                    class="alert alert-danger mt-2">
                    Last Name is a required field.
                </div>        

                <div class="col-sm-12 form-group">
                   
                    <label for="birthDate">Date of Birth:</label>
                    <input 
                        type="text"
                        id="birthDate"
                        name="birthDate"
                        [(ngModel)]="person.birthDate"
                        #birthDate="ngModel"
                        class="form-control"
                        size="120"
                        max="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="birthPlace">Place of Birth: </label>
                    <input 
                        type="text"
                        id="birthPlace"
                        name="birthPlace"
                        [(ngModel)]="person.birthPlace"
                        #birthPlace="ngModel"
                        class="form-control"
                        size="120"
                        max="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="christeningDate">Christening Date: </label>
                    <input 
                        type="text"
                        id="christeningDate"
                        name="christeningDate"
                        [(ngModel)]="person.christeningDate"
                        #christeningDate="ngModel"
                        class="form-control"
                        size="120"
                        max="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="marriageDate">Date of Marriage: </label>
                    <input 
                        type="text"
                        id="marriageDate"
                        name="marriageDate"
                        [(ngModel)]="person.marriageDate"
                        #marriageDate="ngModel"
                        class="form-control"
                        size="120"
                        max="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="deathDate">Date of Death: </label>
                    <input 
                        type="text"
                        id="deathDate"
                        name="deathDate"
                        [(ngModel)]="person.deathDate"
                        #deathDate="ngModel"
                        class="form-control"
                        size="120"
                        max="120">
                </div>
                <div class="col-sm-12 form-group">
                    <label for="burialPlace">Burial Place: </label>
                    <input 
                        type="text"
                        id="burialPlace"
                        name="burialPlace"
                        [(ngModel)]="person.burialPlace"
                        #burialPlace="ngModel"
                        class="form-control"
                        size="120"
                        max="120">  
                </div>
                    
                    <div class="form-group">
                        <a class="btn btn-success btn-sm" [routerLink]="['/research-notes/new']" style=" margin-top: 5px; margin-left: 15px;">Add Note</a>
                        <!--<a class="btn btn-info btn-sm" (click)="loadNotes()">Show Notes</a>-->
                    </div>
                   <!-- <div class="form-group">
                        <ul *ngIf="notes?.length">
                            <strong>{{ note.subject }}:</strong> {{ note.text }}
                        </ul>
                    </div>-->
                    <div class="form-group">
                        <label for="childrenList">Children: </label>

                        <div class="row children-drop-zone"
                             cdkDropList
                             id="childrenList"
                             [cdkDropListData]="children"
                             [cdkDropListConnectedTo]="['peopleList']"
                             (cdkDropListDropped)="onDropChild($event)"
                             style="min-height: 3rem;">

                        <div *ngFor="let person of children; let i = index" 
                             cdkDrag 
                             [cdkDragData]="person" 
                             class="col-12 d-flex align-items-center mb-2 draggable-person">
                            
                                <heritage-hub-person-item class="col-sm-11" [person]="person"></heritage-hub-person-item>
                                <button class="btn btn-danger col-sm-2 deleteButton" (click)="onRemoveItem(i); $event.stopPropagation(); $event.preventDefault();">X</button>
                            
                        </div>
                        </div>
                        <div cdkDropList id="children">
                        <span class="dragMsg" *ngIf="children?.length < 1">Drag child of person here</span>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 btn-toolbar">
                        <button class="btn btn-success"
                                type="submit"
                                [disabled]="!f.valid">Save</button>
                        <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
                    </div>
                </div> 
                   
            
        </form>
    </div>
</div>
