<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        
                            <span class="title pad-left-right"><h4>Family</h4></span>
                            
                            <div class="row">
                                <div class="input-group pull-left pad-left pad-left-right col-xs-8">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Enter a name"
                                           #searchBox
                                           (keyup)="search(searchBox.value)">
                                <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
                                </div>
                            </div>
                            
                            <div class="pull-right pad-left-right">
                            <a class="btn btn-success btn-xs" [routerLink]="['/people/new']" style="margin-left: 5px;">Add Person</a>
                        </div>
                        </div>
                        
                        
                    <div *ngIf="people?.length > 0; else loading">
                    <div
                        cdkDropList
                        id="peopleList"
                        [cdkDropListData]="people"
                        [cdkDropListConnectedTo]="['childrenList']"                        
                        class="people-drop-zone">
                   
                       <heritage-hub-person-item
                        *ngFor="let person of people | personFilterPipe:term"
                        [person]="person"
                        cdkDrag
                        [cdkDragData]="person"></heritage-hub-person-item>
                    </div>
                </div>
                <ng-template #loading>
                    <div class="text-center pad-top">
                        <p><em>Loading people...</em></p>
                    </div>
                </ng-template>
              </div>
            </div>
        </div>
    </div>
    </div>

<!-- <ul>
                        <li *ngFor="let person of people">
                            {{ person.firstName }} {{ person.lastName }}
                        </li>
                       </ul> -->
