<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row pad-left-right">
                    <span class="title pull-left">Research Notes</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <heritage-hub-research-notes-item></heritage-hub-research-notes-item>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <heritage-hub-research-notes-edit></heritage-hub-research-notes-edit>
            </div>
        </div>
    </div>
</div>
