<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default" style="background-color: #EABE7C;">
            <div class="panel-heading">
                <div class="row pad-left-right">
                    <span class="title pull-left">Research Notes</span>
                    <div class="pull-right pad-left-right">
                        <a class="btn btn-success btn-sm" [routerLink]="['/research-notes/new']" style="margin-right: 5px;">Add Note</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div *ngFor="let note of notes">
                        <heritage-hub-research-notes-item 
                                        *ngFor="let note of notes; let i = index"
                                        [note]="note"
                                        [index]="i">
                                    </heritage-hub-research-notes-item>
                        </div>
                    </div>
                </div>
            </div>
           
    </div>
</div>
