<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default" style="background-color: #EABE7C;">
            <div class="panel-heading">
                <div class="row pad-left-right">
                    <span class="title pull-left">Research Notes</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div *ngFor="let note of notes">
                        <heritage-hub-research-notes-item 
                                        [note]="note">
                                    </heritage-hub-research-notes-item>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <heritage-hub-research-notes-edit
                    (addNoteEvent)="onAddResearchNote($event)"></heritage-hub-research-notes-edit>
            </div>
        </div>
    </div>
</div>
